<div class="sidenav">
  <div class="logo-container">
    <div class="logo">
      <img class="icon" src="assets/logo.png" alt="Vacine Icon">
    </div>
  </div>

  <ul class="sidenav-nav" *ngIf="usuarioLogado">
    <li class="sidenav-nav-item" *ngFor="let item of sideNavItems">
      <a *ngIf="podeVerMenu(item)" href="" class="sidenav-nav-link" [routerLink]="item.route"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">

        <fa-icon class="sidenav-link-icon" [icon]="item.icon"></fa-icon>
        <span class="sidenav-nav-link-text">{{item.label}}</span>
      </a>
    </li>
  </ul>

  <div class="sidenav-footer" *ngIf="usuarioLogado">
    <div class="sidenav-footer-item">
      <fa-icon class="sidenav-footer-icon" [icon]="faCircleUser"></fa-icon>

      <span>{{usuarioLogado.nome}}</span>
      <a href="" class="sidenav-footer-link" (click)="logout()">
        <fa-icon class="sidenav-footer-icon" [icon]="faSignOutAlt"></fa-icon>
      </a>
    </div>
  </div>
</div>

